
.DS_Store
__MACOSX/

*.obj
*.pdb
*.idb
*.suo
*.user
*.ncb
*.log
*.aps
*.ilk
*.pch
*.ipch
*.tmp
*.vspscc
*.vssscc
*.cache
*.tlog
*.VC.db
*.VC.opendb
.vs/

CMakeFiles/
CMakeCache.txt
build/

screenshots/*.tmp
